<h1> My Friends </h1>

<%= search_form_for @q,url: search_friend_path, :remote => true do |f| %>
  <%= f.label :_cont,"Search friend" %>
  <%= f.search_field :first_name_or_last_name_or_email_cont %>
  <%= f.submit %>
  <% end %>

<div id="results">
</div>
<% unless @friends.empty? %>
<%= render 'users/sessions/friends/friend_list' %>
<% end %>
