<div class="container password-page">
    <h2>Change your password</h2>

    <div id="password-page-sub">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div>
            <br>
            <%= f.submit "Send me reset password instructions", class:'btn btn-primary' %>
        </div>
        <% end %>
        <div id="password-links">
        <br>
        <%= link_to 'Log in', user_session_path, class: 'btn btn-sm btn-success' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-sm btn-success' %>
        </div>
    </div>
<div>
